In [1]:
my_line = "adidk didkslid disksd didkisialsidd"

In [2]:
my_line.replace("d","x")

'axixk xixkslix xisksx xixkisialsixx'

In [3]:
my_line.replace("fruit, granola, and yogurt",
                "fruit granola and yogurt")

'adidk didkslid disksd didkisialsidd'

In [4]:
fields = my_line.split()

In [8]:
fields[0].replace("d","x")

'axixk'

In [10]:
" ".join(fields).replace("d","x")

'axixk xixkslix xisksx xixkisialsixx'

In [19]:
[sarah_t.replace("d","x") for sarah_t in fields if len(sarah_t) > 8]

['xixkisialsixx']

In [20]:
new_list = []

for sarah_t in fields :
    if len(sarah_t) > 8 :
        new_list.append(sarah_t.replace("d","x"))

new_list

['xixkisialsixx']

In [22]:
import random

In [23]:
x = range(1000)

In [24]:
random.sample(x,10)

[59, 337, 600, 703, 101, 642, 783, 610, 874, 45]

In [25]:
owners_list = range(50000)

In [27]:
my_sample = random.sample(owners_list,100)

In [30]:
my_query_start = ("SELECT * FROM `my_project.my_dataset.transArchive_*"
                  " WHERE card_no IN (")

In [31]:
my_query_start

'SELECT * FROM `my_project.my_dataset.transArchive_* WHERE card_no IN ('

In [39]:
my_query = my_query_start 

for owner in my_sample :
    #print(owner)
    my_query += "".join([str(owner),","])
    #break

In [43]:
my_query = my_query[:-1] + ")"

In [44]:
my_query

'SELECT * FROM `my_project.my_dataset.transArchive_* WHERE card_no IN (14408,38442,6278,44774,16526,17838,18844,16417,7148,47400,31066,12228,15339,41447,40649,3384,41199,32360,44244,46301,33316,7901,22018,45502,2942,18945,10104,28776,22511,22091,46466,30784,24184,48310,31043,27495,7013,542,24431,47563,2194,2515,18881,17478,7044,34601,11226,22527,33790,5801,23968,40628,35382,44862,10127,25268,44554,24719,28953,3735,13101,23152,27546,41569,31839,38209,21840,27482,5046,15766,7329,48431,7518,39591,45397,11006,25964,16121,31202,16685,3430,35266,40732,19306,22941,15448,24425,14757,2743,18726,33526,22674,40322,3892,21679,11243,35402,25752,41703,32774)'